@import "tailwindcss";

:root {
  --background: #0f3b57;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f3b57;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: var(--font-inter);
  @apply flex flex-col items-center;

}

.container--page {
  @apply  w-full max-w-[1440px] ;
}
